html {
    padding: 0;
    margin: 0;
}

:root {
    cursor:pointer;
    padding: 0;
    margin: 0;
    --title-size: min(20vw, 150px);
    --header-size: min(1.7vw, 18px);
    --selector-size: min(1.5vw, 14px);
    --paragraph-title: min(2.3vw, 24px);
    --paragraph-text: min(1.5vw, 14px);
    --text-content: min(1.6vw, 12px);
    --logo-type: 'Houschka Pro';
    --text-type: 'Noto Sans', sans-serif;
    --title-color: #222222;
    --heading-color: #222222;
    --text-color: #222222;
    --background-color: #white;
    --dot-init-y: calc(var(--title-size)*0.16);
    --dot-init-x: calc(var(--title-size)*-0.05);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--background-color);
}

.logoType {
    font-family: var(--logo-type);
    font-weight: 900;
    font-style: normal;
}

.contentSelector {
    margin-top:1%;
    height:6%;
    max-height:150px;
    width:100%;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:flex-start;
}

.selectorBox {
    height:100%;
    width: 10%;
    max-width: 12vh;
    position:relative;
    font-family:var(--text-type);
    color:#3272b5;
    font-size:var(--selector-size);
    display:flex;
    justify-content:center;
    align-items:center;
    transition: color 150ms ease-in-out;
    text-align:center;
    cursor:pointer;
}

.selectorBox::after {
    background:#3272b5;
    width:0%;
    height:1px;
    content:"";
    position:absolute;
    bottom:0;
    transition: width 250ms ease-in-out, opacity 200ms ease-in-out;
}

.selectorBox:hover::after {
    width:40%;
}

.currentTab::after {
    opacity:0;
}

.fauxContentSelector {
    pointer-events:none;
width: 40%;
max-width: 48vh;
height:100%;
min-height:100%;
position:absolute;
}

.currentTab {
    color:white;
}

.selectorTab {
    pointer-events:none;
    position:absolute;
    height: 100%;
    width:25%; 
    opacity:1;
    mix-blend-mode: color-dodge;
    transition: left 150ms ease-in-out, border-radius 250ms ease-in-out;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:visible;
    background:transparent;
}

.selectorTab::after {
    display:block;
    content:"";
    background:#3272b5;
    border-radius:9999px;
    height:70%;
    width:90%;
    position:relative;
}

.selectorMark {
    transform:translateY(50%);
    height:100%;
    width:100%;
    background:#3272b5;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80%, 0% 100%);
}

.solutionContented {
left:0vw;
}

.researchContented {
left:-100vw;
}

.aboutContented {
left:-200vw;
}

.contactContented {
left:-300vw;
}

.solutionTabbed {
    left:0%;    
}

.researchTabbed {
    left:25%;
}

.aboutTabbed {
    left:50%;
}

.contactTabbed {
    left:75%;
}

.title {
    font-size: var(--title-size);
    line-height:var(--title-size);
    position: relative;
    height: 60%;
    color: var(--title-color);
    background-image:url('logo.png');
    background-size:contain;
    background-repeat:no-repeat;
    aspect-ratio: 1080/459;
}

.mainTitle {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 31.8%, 85% 31.8%, 85% 0%);   
}

.inverseTitle {
    background:transparent;
    z-index:50000;
}

.titleDot {
    background: black;
    border-radius: 50%;
    height: 25%;
    aspect-ratio: 1/1;
    margin-bottom: 15.64%;
    right: 0;
    position: absolute;
    animation: dotIn 2s ease-in-out, dotPulse 20s ease-in-out 3s infinite;
}

.contentDot {
    top:30%;
    opacity: 0;
    border-radius: 50%;
    transform-origin: center;
    position: absolute;
    background: var(--title-color);
    width: calc(var(--header-size) /2);
    height: calc(var(--header-size) /2);
    background:#3272b5;

}

#storage .contentDot {
    animation: storageFall 3.5s ease-in-out infinite;
    animation-fill-mode: forwards;
    left: 50%;
    transform: translateX(-50%);
}

#transfer .contentDot {
    animation: transferFall 3.5s ease-in-out 0.875s infinite;
    animation-fill-mode: forwards;
}

#processing .contentDot {
    animation: processingFall 3.5s ease-in-out 1.75s infinite;
    animation-fill-mode: forwards;
    right: 50%;
    transform: translateX(50%);
}

.trueTitleContainer {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
}

.titleContainer {
    position: absolute;
    height: 80%;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentContent {
    width: 100vw;
    min-width:100vw;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxedIn {
    width: 50%;
    max-width: 1000px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutContent .paragraphTitle, #aboutContent .paragraphText {
    width:100%;
    text-align:left;
}

.paragraphTitle {
    font-family:var(--logo-type);
    font-size:var(--paragraph-title);
    padding-bottom:var(--paragraph-title);
    width:fit-content;
    text-transform: uppercase;
}

.paragraphText {
    margin-top:5px;
    margin-bottom:5px;
    font-family:var(--text-type);
    font-size:var(--paragraph-text);
    text-align: center;
}

.contentContainer {
    width: 400vw;
    height: 55%;
    margin: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: left 150ms ease-in-out;
}

.animationContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: fit-content;
    width: 100%;
    max-width: 1000px;
}

.contentLine {
    background:#3272b5;
    width:75%;
    height:1px;
    opacity:0.3;
    
}

.topLine {
    margin-bottom:30px;
}

.bottomLine {
    margin-top:30px;
}

.oneParter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1000px;
}

.headerContent {
    position: relative;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: Center;
}

.animationBox {
    position: relative;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: Center;
}

.animationReceiver {
    position: relative;
    height: fit-content;
    width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animationContainer {
display:flex;
justify-content:center;
align-items:center;
}

.soloContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTitle {
    padding-top: var(--header-size);
    font-family: var(--logo-type);
    font-style: normal;
    font-size: var(--header-size);
    color: var(--heading-color);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animationTitle {
    font-family: var(--logo-type);
    font-style: normal;
    font-size: var(--header-size);
    color: var(--heading-color);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#3272b5;
}

.fauxTitle {
    display:none;
    padding-bottom: var(--header-size);
    position:absolute;
    background: #373737;
    color:white;
    animation: fauxIn 15s ease-in-out infinite;
}

.twoParter::before {
content:"";
height:100%;
aspect-ratio:1/1.3;
background-size:contain;
background-repeat:no-repeat;
background-position:center;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#researchParter::before {
    background-image:url('carbonPaper.jpg');
}

.twoParter {
    display:flex;
    width:100%;
    justify-content:center;
    align-items:flex-start;
}

.twoParter .textBlock {
    margin-left:30px;
    display: flex;
    flex-direction: column;
}

.twoParter .paragraphText {
    text-align:left;
}

.bottomBlock {
    width:100%;
    position:absolute;
    bottom:0;
}

.footerText {
    position:absolute;
    bottom:0;
    margin-bottom:10px;
    font-family: var(--text-type);
    font-size: 12px;
    color:black;
}

.copyRight {
    text-align:right;
left:0;
margin-left:10px;   
}


.privacyLink {
    text-align:left;
right:0;
margin-right:10px;
}

.textBlock {
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.bottomText {
    bottom: 0;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.textContent {
    font-family: var(--text-type);
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: var(--text-content);
    color: var(--text-color);
}

.mainPage {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: absolute;
  
}

    /* 
  .trueTitleContainer {
    background:blue;
}

.contentSelector {
    background:yellow;
}

.contentContainer {
    background:red;
}





  */

  .noAnimation {
  animation:none !important;
  }
  