@media (orientation: portrait) and (max-width:70vh) {
    :root {
        --header-size: min(3.5vw, 35px);
        --text-content: min(3vw, 26px);
        --paragraph-title: min(4vw, 36px);
        --paragraph-text: min(3.6vw, 30px);
        --selector-size: min(3vw, 26px);
    }

    .bottomText {
        margin-bottom:max(30px, 10%);
    }

    .boxedIn {
        width:85%;
    }

    .twoParter .textBlock {
        margin-left: 50px;

    }

    .paragraphText {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .contentSelector {
        height: 10%;
        max-height: 150px;
    }

    .fauxContentSelector {
        max-width:100vh;
        width:100%;
    }

    .selectorBox , .selectorTab {
        height: 80%;
        width:25%;
        max-width: 25vh;
    }

    .selectorTab {
    }

    .solutionTabbed {
        left: 0%;
    }

    .researchTabbed {
        left: 25%;
    }

    .aboutTabbed {
        left: 50%;
    }

    .contactTabbed {
        left: 75%;
    }


.copyRight {
    font-size:20px;
}

}