.mainTitle {
    clip-path:none;
}

.inverseTitle {
    display:none;
}

.boxedIn {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top:20px;
    padding-bottom:20px;
}

.privacyContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height:80%;
    overflow:scroll;
}

.boxedIn {
    height:fit-content;
}
.paragraphText {
    width: 100%;
    margin-bottom:var(--paragraph-title);
    text-align:left;
}

.contentLine {
    margin:auto;
    left:0; right:0;
}