
.ocean {
    height:71px;
    width:100vw;
    position:absolute;
    bottom:0;
    background:#0978bd;
    pointer-events:none;
}

.tugboat {
    background:url('tugBoat.png');
    width:170px;
    height:100px;
    position:absolute;
    bottom:0;
    background-size:contain;
    background-repeat:no-repeat;
    bottom:50px;
    right:-200px;
    animation: tugBoating 25s linear infinite, tugBouncing 4s ease-in-out infinite alternate;
    }

    .binaryRainContainer {
        pointer-events:none;
        width:100%;
        height:300px;
        bottom:0;
        position:absolute;
        left:0px;
        color:black;
        font-size:12px;
        font-weight:bold;
        font-family:monospace;
    }

    .binaryRain {
        color:#3272b5;
        display:flex;
        justify-content:flex-start;
        align-items:flex-start;
        align-items:center;
        writing-mode: vertical-lr;
        position:absolute;
        bottom:0;
        height:fit-content;
        width:fit-content;
        font-family:monospace;
        font-size:14px;
        font-weight:bold;
        -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 75%, black 90%, transparent 100%);
        mask-image: linear-gradient(to bottom, transparent 25%, black 75%, black 90%, transparent 100%);
        animation: fallingUp 5s linear infinite;
    }

    .binaryRain::after {
        display:flex;
        justify-content:flex-start;
        align-items:flex-start;
        content: "";
        animation: contentAddition 5s ease-in-out infinite;
    }
    
    #rain1 {
        animation-delay:250ms;
        left:10vw;
    }

        
    #rain2 {
        animation-delay:2650ms;
        left:27vw;
    }

    #rain3 {
        animation-delay:1450ms;
        left:67vw;
    }

    #rain4 {
        animation-delay:2050ms;
        left:87vw;
    }

    #rain2::after {
        animation-delay:1560ms;
    }

    #rain3::after {
        animation-delay:560ms;
    }

    #rain4::after {
        animation-delay:3060ms;
    }

    @keyframes fallingUp {
        0% {
            bottom:0px;
            opacity:1;
        }
        50% {
            bottom:66px;
            opacity:0.75;
        }
        60% {
           bottom:125px;
           opacity:0;
        }
    }

    @keyframes contentAddition {
        0% {
            content: "0";
        }
        2% {
            content: "01";
        }
        4% {
            content: "010";
        }
        6% {
            content: "0100";
        }
        8% {
            content: "01000";
        }
        10% {
            content: "010000";
        }
        12% {
            content: "0100000";
        }
        14% {
            content: "01000001";
        }
        16% {
            content: "010000010";
        }
        18% {
            content: "0100000101";
        }
        20% {
            content: "01000001010";
        }
        22% {
            content: "0100000101011";
        }
        24% {
            content: "01000001010110";
        }
        26% {
            content: "010000010101100";
        }
        28% {
            content: "0100000101011000";
        }
        30% {
            content: "01000001010110000";
        }
        32% {
            content: "010000010101100001";
        }
        34% {
            content: "0100000101011000011";
        }
        36% {
            content: "01000001010110000110";
        }
        38% {
            content: "010000010101100001100";
        }
        40% {
            content: "0100000101011000011001";
        }
        42% {
            content: "01000001010110000110011";
        }
        44% {
            content: "010000010101100001100110";
        }
        46% {
            content: "0100000101011000011001100";
        }
        48% {
            content: "01000001010110000110011001";
        }
        50% {
            content: "010000010101100001100110011";
        }
        51% {
            content: "10000010101100001100110011";
        }
        52% {
            content: "0000010101100001100110011";
        }
        53% {
            content: "000010101100001100110011";
        }
        54% {
            content: "00010101100001100110011";
        }
        55% {
            content: "0010101100001100110011";
        }
        56% {
            content: "010101100001100110011";
        }
        57% {
            content: "10101100001100110011";
        }
        58% {
            content: "0101100001100110011";
        }
        59% {
            content: "101100001100110011";
        }
        60% {
            content: "01100001100110011";
        }
        61% {
            content: "1100001100110011";
        }
        62% {
            content: "100001100110011";
        }
        63% {
            content: "00001100110011";
        }
        64% {
            content: "0001100110011";
        }
        65% {
            content: "001100110011";
        }
        66% {
            content: "01100110011";
        }
        67% {
            content: "1100110011";
        }
        68% {
            content: "100110011";
        }
        69% {
            content: "00110011";
        }
        70% {
            content: "0110011";
        }
        71% {
            content: "110011";
        }
        72% {
            content: "10011";
        }
        73% {
            content: "0011";
        }
        74% {
            content: "011";
        }
        75% {
            content: "11";
        }
        76% {
            content: "1";
        }
        77% {
            content: "";
        }
        100% {
            content: "";
        }
    }

    @keyframes tugBoating {
        0% {
            right:-200px;
        } 
        70% {
            right:100vw;
        }
        100% {
            right:100vw;
        }
    }
    @keyframes tugBouncing {
        0% {
            bottom:50px;
            transform:rotate(0deg);
        }
        20% {
            bottom:40px;
            transform:rotate(1deg);
        }
        50% {
            bottom:45px;
            transform:rotate(-2deg);
        }
        70% {
            bottom:42px;
            transform:rotate(1deg);
        }
        100% {
            bottom:50px;
            transform:rotate(0deg);
        }
    }

.wave {
background:url('wavyTwo.png');
width:100%;
height:100px;
position:absolute;
bottom:0;
background-size:1000px 100px;
background-position:bottom;
background-repeat:repeat-x;
}

#wave1 {
    animation: waveAway1 5s linear infinite;

}

#wave2 {
    animation: waveAway2 6s linear infinite;
    bottom:30px;
  
}

#wave3 {
    animation: waveAway3 7s linear infinite;
    bottom:55px;
}

#wave4 {
    animation: waveAway4 8s linear infinite;
    bottom:70px;

}

@keyframes waveAway1 {
0% {
background-position-x:0px;
background-size:1000px 80px;
}
50% {
background-position-x:500px;
background-size:1000px 60px;
}

100% {
    background-position-x:1000px;
    background-size:1000px 80px;
    }
}

@keyframes waveAway2 {
    0% {
    background-position-x:0px;
    background-size:800px 65px;
    }
    50% {
    background-position-x:-400px;
    background-size:800px 60px;
    }
    
    100% {
        background-position-x:-800px;
        background-size:800px 65px;
        }
    }

    @keyframes waveAway3 {
        0% {
        background-position-x:0px;
        background-size:550px 40px;
        }
        50% {
        background-position-x:225px;
        background-size:550px 35px;
        }
        
        100% {
            background-position-x:550px;
            background-size:550px 40px;
            }
        }

        @keyframes waveAway4 {
            0% {
            background-position-x:-0px;
            background-size:250px 20px;
            }
            50% {
            background-position-x:-125px;
            background-size:250px 15px;
            }
            
            100% {
                background-position-x:-250px;
                background-size:250px 20px;
                }
            }