
.ocean {
    height:71px;
    width:100vw;
    position:absolute;
    bottom:0;
    background:#0978bd;
    pointer-events:none;
}

.tugboat {
    background:url('tugBoat.png');
    width:170px;
    height:100px;
    position:absolute;
    bottom:0;
    background-size:contain;
    background-repeat:no-repeat;
    bottom:50px;
    right:-200px;
    animation: tugBoating 25s linear infinite, tugBouncing 4s ease-in-out infinite alternate;
    }

    @keyframes tugBoating {
        0% {
            right:-200px;
        } 
        70% {
            right:100vw;
        }
        100% {
            right:100vw;
        }
    }
    @keyframes tugBouncing {
        0% {
            bottom:50px;
            transform:rotate(0deg);
        }
        20% {
            bottom:40px;
            transform:rotate(1deg);
        }
        50% {
            bottom:45px;
            transform:rotate(-2deg);
        }
        70% {
            bottom:42px;
            transform:rotate(1deg);
        }
        100% {
            bottom:50px;
            transform:rotate(0deg);
        }
    }

.wave {
background:url('wavyTwo.png');
width:100%;
height:100px;
position:absolute;
bottom:0;
background-size:1000px 100px;
background-position:bottom;
background-repeat:repeat-x;
}

#wave1 {
    animation: waveAway1 5s linear infinite;

}

#wave2 {
    animation: waveAway2 6s linear infinite;
    bottom:30px;
  
}

#wave3 {
    animation: waveAway3 7s linear infinite;
    bottom:55px;
}

#wave4 {
    animation: waveAway4 8s linear infinite;
    bottom:70px;

}

@keyframes waveAway1 {
0% {
background-position-x:0px;
background-size:1000px 80px;
}
50% {
background-position-x:500px;
background-size:1000px 60px;
}

100% {
    background-position-x:1000px;
    background-size:1000px 80px;
    }
}

@keyframes waveAway2 {
    0% {
    background-position-x:0px;
    background-size:800px 65px;
    }
    50% {
    background-position-x:-400px;
    background-size:800px 60px;
    }
    
    100% {
        background-position-x:-800px;
        background-size:800px 65px;
        }
    }

    @keyframes waveAway3 {
        0% {
        background-position-x:0px;
        background-size:550px 40px;
        }
        50% {
        background-position-x:225px;
        background-size:550px 35px;
        }
        
        100% {
            background-position-x:550px;
            background-size:550px 40px;
            }
        }

        @keyframes waveAway4 {
            0% {
            background-position-x:-0px;
            background-size:250px 20px;
            }
            50% {
            background-position-x:-125px;
            background-size:250px 15px;
            }
            
            100% {
                background-position-x:-250px;
                background-size:250px 20px;
                }
            }