@font-face {
    font-family: 'Houschka';
    src: url('Houschka/HouschkaPro-Bold.eot');
    src: local('Houschka/Houschka Pro Bold'), local('Houschka/HouschkaPro-Bold'),
        url('Houschka/HouschkaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('Houschka/HouschkaPro-Bold.woff2') format('woff2'),
        url('Houschka/HouschkaPro-Bold.woff') format('woff'),
        url('Houschka/HouschkaPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Houschka';
    src: url('Houschka/HouschkaPro-ExtraBoldItalic.eot');
    src: local('Houschka/Houschka Pro ExtraBold Italic'), local('Houschka/HouschkaPro-ExtraBoldItalic'),
        url('Houschka/HouschkaPro-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Houschka/HouschkaPro-ExtraBoldItalic.woff2') format('woff2'),
        url('Houschka/HouschkaPro-ExtraBoldItalic.woff') format('woff'),
        url('Houschka/HouschkaPro-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Houschka';
    src: url('Houschka/HouschkaPro-BoldItalic.eot');
    src: local('Houschka/Houschka Pro Bold Italic'), local('Houschka/HouschkaPro-BoldItalic'),
        url('Houschka/HouschkaPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Houschka/HouschkaPro-BoldItalic.woff2') format('woff2'),
        url('Houschka/HouschkaPro-BoldItalic.woff') format('woff'),
        url('Houschka/HouschkaPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Houschka';
    src: url('Houschka/HouschkaPro-ThinItalic.eot');
    src: local('Houschka/Houschka Pro Thin Italic'), local('Houschka/HouschkaPro-ThinItalic'),
        url('Houschka/HouschkaPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Houschka/HouschkaPro-ThinItalic.woff2') format('woff2'),
        url('Houschka/HouschkaPro-ThinItalic.woff') format('woff'),
        url('Houschka/HouschkaPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Houschka';
    src: url('Houschka/HouschkaPro-Light.eot');
    src: local('Houschka/Houschka Pro Light'), local('Houschka/HouschkaPro-Light'),
        url('Houschka/HouschkaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('Houschka/HouschkaPro-Light.woff2') format('woff2'),
        url('Houschka/HouschkaPro-Light.woff') format('woff'),
        url('Houschka/HouschkaPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Houschka';
    src: url('Houschka/HouschkaPro-LightItalic.eot');
    src: local('Houschka/Houschka Pro Light Italic'), local('Houschka/HouschkaPro-LightItalic'),
        url('Houschka/HouschkaPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Houschka/HouschkaPro-LightItalic.woff2') format('woff2'),
        url('Houschka/HouschkaPro-LightItalic.woff') format('woff'),
        url('Houschka/HouschkaPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Houschka';
    src: url('Houschka/HouschkaPro-DemiBoldItalic.eot');
    src: local('Houschka/Houschka Pro DemiBold Italic'), local('Houschka/HouschkaPro-DemiBoldItalic'),
        url('Houschka/HouschkaPro-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Houschka/HouschkaPro-DemiBoldItalic.woff2') format('woff2'),
        url('Houschka/HouschkaPro-DemiBoldItalic.woff') format('woff'),
        url('Houschka/HouschkaPro-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Houschka';
    src: url('Houschka/HouschkaPro-DemiBold.eot');
    src: local('Houschka/Houschka Pro DemiBold'), local('Houschka/HouschkaPro-DemiBold'),
        url('Houschka/HouschkaPro-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('Houschka/HouschkaPro-DemiBold.woff2') format('woff2'),
        url('Houschka/HouschkaPro-DemiBold.woff') format('woff'),
        url('Houschka/HouschkaPro-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Houschka';
    src: url('Houschka/HouschkaPro-Thin.eot');
    src: local('Houschka/Houschka Pro Thin'), local('Houschka/HouschkaPro-Thin'),
        url('Houschka/HouschkaPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('Houschka/HouschkaPro-Thin.woff2') format('woff2'),
        url('Houschka/HouschkaPro-Thin.woff') format('woff'),
        url('Houschka/HouschkaPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Houschka';
    src: url('Houschka/HouschkaPro-ExtraBold.eot');
    src: local('Houschka/Houschka Pro Extra Bold'), local('Houschka/HouschkaPro-ExtraBold'),
        url('Houschka/HouschkaPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Houschka/HouschkaPro-ExtraBold.woff2') format('woff2'),
        url('Houschka/HouschkaPro-ExtraBold.woff') format('woff'),
        url('Houschka/HouschkaPro-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Houschka';
    src: url('Houschka/HouschkaPro-MediumItalic.eot');
    src: local('Houschka/Houschka Pro Medium Italic'), local('Houschka/HouschkaPro-MediumItalic'),
        url('Houschka/HouschkaPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Houschka/HouschkaPro-MediumItalic.woff2') format('woff2'),
        url('Houschka/HouschkaPro-MediumItalic.woff') format('woff'),
        url('Houschka/HouschkaPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Houschka';
    src: url('Houschka/HouschkaPro-Medium.eot');
    src: local('Houschka/Houschka Pro Medium'), local('Houschka/HouschkaPro-Medium'),
        url('Houschka/HouschkaPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('Houschka/HouschkaPro-Medium.woff2') format('woff2'),
        url('Houschka/HouschkaPro-Medium.woff') format('woff'),
        url('Houschka/HouschkaPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Houschka';
    src: url('Houschka/HouschkaPro-Medium.eot');
    src: local('Houschka/Houschka Pro Medium'), local('Houschka/HouschkaPro-Medium'),
        url('Houschka/HouschkaPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('Houschka/HouschkaPro-Medium.woff2') format('woff2'),
        url('Houschka/HouschkaPro-Medium.woff') format('woff'),
        url('Houschka/HouschkaPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Black.woff2');
    src: local('Lato/Lato Black'), local('Lato/Lato Black'),
        url('Lato/Lato-Black.woff2') format('woff2'),
        url('Lato/Lato-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Regular.woff2');
    src: local('Lato/Lato Regular'), local('Lato/Lato Regular'),
        url('Lato/Lato-Regular.woff2') format('woff2'),
        url('Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Light.woff2');
    src: local('Lato/Lato Light'), local('Lato/Lato Regular'),
        url('Lato/Lato-Light.woff2') format('woff2'),
        url('Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}





